<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {% load static %}
        <link rel="stylesheet" href="{% static 'css/login.css' %}">
    </head>
    <body>

        <h2>View/Blog Post</h2>

        <form action="" method="post">{% csrf_token %}
            <div class="container">
                
                <input type="hidden" name="id" value="{{ data.0.id }}">
                <label for="title"><b>Post Title</b></label>
                <input type="text" placeholder="Enter Title" name="ptitle" value="{{ data.0.posttitle }}" disabled required>

                <label for="content"><b>Content</b></label><br>
                <input type="text" placeholder="Enter Content" name="pcontent" value="{{ data.0.postcontent }}" disabled required>
                <!-- <textarea name="pcontent" rows="20" cols="100" placeholder="Enter Content here" required></textarea> -->
            </div>
        </form>

    </body>
</html>